body {
    padding: 0;
    margin: 0;
    background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
    color: #ffffff;
    font-family: "Arial";
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

.wrapaer {
    padding: 0  0 0 101px;
}

.header {
    display: flex;
    justify-content: space-between;padding-right: 101px;
}

.header_logo {
    object-fit: cover;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    border-radius: 70px;
    background-color: #acacaa6c;
    padding: 15px 57px;
    column-gap: 30px;
}

.phone {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.phone img {
    width: 25px;
    height: 25px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}



.slogan {
    font-size: 16px;
}

.main-tex-in-article {
    max-width: 692px;
}

.service-item {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 800;
}

.football-slogan {
    font-size: 30px;
    padding-bottom: 25px;
}

.button-aticle {
    padding: 28px 42px;
    border-radius: 75px;
    background-color: #ffffff00;
    border: 3px solid #f4d633;
    color: #f4d633;
    font-size: 18px;
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold
}


.rating {
    display: flex;
    column-gap: 8px;
    padding-top: 32px;
}

.img {
background: url('../img/big-ball.png') no-repeat ;
    background-position:bottom 133px ;
    background-size: cover;
    width: 494px;
    height: 726px;
  
}

.footer {
    display: flex;
    background-color: #f4d633;
    justify-content: space-between;
    align-items: center;
}

.working_hours {
    display: grid;
    row-gap: 13px;
}

.working_hours p {
    font-size: 16px;
    line-height: 14px;
    color: #1e3c6f;
    font-weight: bold;
    font-family: "Arial";
}

.footer-date {
    display: flex;
    justify-content: end;
}

.footer-date p {
    font-size: 12px;
    color: #204075;
    font-family: "Arial";
    text-align: left;
}